.category {
    color:black;
    background-color:whitesmoke;
    width: 28.3%;
    min-width:200px;
    height: auto;
    min-height:100px;
    margin: 10px 2.5%;
    float: left;
}
.category:hover{
    color: black;
    background-color: gray;
}

.movieListElement {
    min-height: 350px;
    min-width: 200px;
    max-width: 30%;
}