.category {
    color:black;
    background-color:whitesmoke;
    width: 28.3%;
    min-width:200px;
    height: auto;
    min-height:100px;
    margin: 10px 2.5%;
    padding: 10px;
    float: left;
    border-radius: 2.5px;
}

.category:hover{
    color: white;
    background-color: orange;
}

.movieListElement {
    min-height: 350px;
    min-width: 200px;
    max-width: 30%;
}

ul.contentDescription {
    list-style-type: none;
}

ul.contentDescription li {
    padding-bottom: 10px;
}

ul.contentDescription .contentListSecondLevel {
    list-style-type: square;
}

.repeating-gradient {
    background-image: repeating-linear-gradient(-45deg,
                        rgba(255,0,0,.25),
                        rgba(255,0,0,.25) 5px,
                        rgba(0,0,255,.25) 5px,
                        rgba(0,0,255,.25) 10px
                    );
  }